.colcon/
.vscode/
**/__pycache__/
src/*
!src/.repos

.venv/
.env.DS_Store
# macOS
.DS_Store

# Logs
*.log

# Archives
*.tgz
*.tar.gz
*.zip

# Python cache
__pycache__/
*.pyc

# ROS2 build artifacts (if any ended up outside container)
build/
install/
log/
